.head{
color:red;
text-aline:center;

}
h1{
position:absolute;
left:40%;
}
body{
background-color:pink;
}

.regtable{
position:absolute;
left:40%;
top:15%;


}
.btn{
position:absolute;
left:50%;
top:40%;


}